<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <a href="../Room/RealRoomState">
        <img src="../../wwwroot/img/navicon/realstate.png" alt="">实时房态
    </a>
    <a href="../Guest/CustomList">
        <img src="../../wwwroot/img/navicon/cuslist.png" alt="">客人列表
    </a>
    <a href="../Business/DailyReport">
        <img src="../../wwwroot/img/navicon/replist.png" alt="">营业日报
    </a>
    <a href="../Room/HistoryState">
        <img src="../../wwwroot/img/navicon/forwardstate.png" alt="">远期房态
    </a>
    <a href="../Management/Center" class="linkBlue">
        <img src="../../wwwroot/img/navicon/usercenter.png" alt="">个人中心
    </a>
</nav>
