@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>微信报表</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="~/wwwroot/neoui/css/utils.css" rel="stylesheet" />
    <style>
        html, body {
            height: 125%;
            overflow-y: scroll;
            background: oldlace;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;

        }

        .container {
            width: 100%;
            height: 56rem;
            padding: 15px;
            padding-top: 4rem;
            overflow: hidden;
        }

        .logoWrap {
            margin: 0 auto;
            text-align: center;
            overflow: hidden;
            width: 200px;
        }

        .logo {
            display: inline-block;
            border-radius: 50%;
            background: url('../../wwwroot/img/logo.jpg') center no-repeat;
            background-size: contain;
            width: 100px;
            height: 100px;
            background-color: #a2c037;
        }

        .ne-sub {
            position: relative;
        }

            .ne-sub i {
                font-style: normal;
                transform: rotate(360deg);
                position: absolute;
                top: 6px;
                background: url(../../wwwroot/img/btnLoop.png) center no-repeat;
                background-size: contain;
                float: right;
                height: 20px;
                width: 20px;
                content: '';
                right: 8px;
                animation: rollBtn linear .6s infinite;
                -webkit-animation: rollBtn linear .6s infinite;
                -moz-animation: rollBtn linear .6s infinite;
                display: none;
                color: #fff;
            }

        @@keyframes rollBtn {
            0% {
                transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="logoWrap" class="logoWrap">
            <div class="logo"></div>
            <div class="title">
                <h2>微信报表</h2>
            </div>
        </div>
        <form>
            <div class="form-group has-error">
                <span id="helpBlock" class="help-block padding-left-2px"></span>
            </div>

            <div class="form-group">
                <label for="ne-userInp">用户名</label>
                <input type="email" class="form-control" id="ne-userInp" placeholder="用户名" data-usn="sys" value="">
            </div>
            <div class="form-group">
                <label for="ne-pwdInp">密码</label>
                <input type="password" class="form-control" id="ne-pwdInp" placeholder="密码" data-pwd="cchmis" value="">
            </div>
            <button type="button" class="btn btn-default ne-sub">登录<i></i></button>
        </form>
    </div>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        $(function () {

            // 解决输入法遮挡
            $('#ne-pwdInp').click(function () {
                document.body.scrollTop = 169;
                window.scrollTop = 169;
                //$('body').scrollTop(200);
                //$(window).scrollTop(200);
                console.log("$('body').scrollTop():" + $('body').scrollTop() + 'px');
                console.log("$(window).scrollTop():" + $(window).scrollTop() + 'px');
                console.log('window.scrollTop:' + window.scrollTop + 'px');
                console.log('document.body.scrollTop:' + document.body.scrollTop + 'px');
            })

            var $subtn = $('.ne-sub');
            $subtn.click(function () {
                document.body.scrollTop = 0;
                window.scrollTop = 0;

                var $nUser = $('#ne-userInp');
                var $nPwd = $('#ne-pwdInp');
                var $hpbk = $('#helpBlock');
                var usertxt = $nUser.val().trim();
                var pwdtxt = $nPwd.val().trim();
                //var datausn = $nUser.data('usn').trim();
                //var datapwd = $nPwd.data('pwd').trim();
                if (usertxt == '' || pwdtxt == '') {
                    $hpbk.fadeOut();
                    $hpbk.parent().addClass('has-error');
                    $hpbk.text('用户名或密码不能为空，请重新输入');
                    $hpbk.fadeIn();

                    //} else if (usertxt === usn && pwdtxt === pwd) {
                    //    $hpbk.parent().removeClass('has-error');
                    //    $hpbk.fadeOut();
                } else {
                    $subtn.text("登录中").append(' <i></i>');
                    $subtn.children().show();
                    $.post('/Management/LoginSubmit?' + 'account=' + usertxt + '&pwd=' + pwdtxt, function (e) {
                        if (e.success) {
                            $hpbk.fadeOut();
                            $subtn.text(e.msg);
                            location.href = "/Room/RealRoomState";
                        } else if (e.msg == "用户名或密码错误") {
                            $hpbk.fadeOut();
                            $hpbk.parent().addClass('has-error');
                            $hpbk.text('用户名或密码不正确，请重新输入');
                            $hpbk.fadeIn();
                            $subtn.text("登录");
                        } else {
                            alert(e.msg);
                        }
                    });

                }

            });

            $(document).keydown(function (event) {
                if (event.keyCode == "13") {//keyCode=13是回车键
                    $('.ne-sub').click();
                }
            });
        })
    </script>
</body>

</html>