body {
    background: url('../img/flower2.jpg') center 0 no-repeat !important;
    background-size: cover !important;
}

.fieldset {
    border: none;
    /* margin-top: 19.2px; */
    /* margin: 0 0 19.2px; */
    padding: 6px 10px 12px;
}

.fieldset li {
    padding: 10px 0;
    overflow: hidden;
}

.fieldset li h3,
.fieldset li input {
    font-size: 16px;
    float: left;
    width: 30%;
    height: 32px;
    line-height: 32px;
}

.fieldset li input {
    outline: 0;
    box-sizing: border-box;
    width: 68%;
    color: #555;
    font-size: 14px;
    border: 0;
    padding: 0 4px;
}

.fieldset li .inpYzm {
    width: 42.5%;
}

.neo-btn {
    font-size: 15px;
    line-height: 16px;
    padding: 8px 10px;
    border: 0;
    box-sizing: border-box;
    height: 32px;
}

.neo-shadow {
    background: #b8deff45;
    width: 90%;
    margin: 72px auto;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 1px 6px 0px #003e71;
}

nav {
    display: none;
}